<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerMonitor.Properties.Settings.SUNUCU_KONTROLConnectionString"
            connectionString="Data Source=192.168.2.74;Initial Catalog=SUNUCU_KONTROL;User ID=sa;Password=sapass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>